# Binaries for programs and plugins
*.exe
*.dll

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Log files
*.log
cmd/main/logs/

# IDE-specific files
.vscode/

